.flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    padding-top: 20%;
}
.wrap {
    text-align: center;
    margin: auto;
    width: 40%;
    padding-top: 20px;
  }
  
  .btn {
    width: 100px;
    height: 100px;
    background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
    border-radius: 100%;
    border: 2px solid #999;
    transition: 0.2s;
  }
  
  .text {
    font-size: 60px;
    font-weight: 700;
    color: #313131;
    text-shadow: -1px -1px 0px #8a8a8a;
    text-align: center;
  }
  
  .btn:focus {
    box-shadow: 0 0px 10px #0005, 0 -0px 50px #fff;
    outline: 7px solid #fff
  }
  
  body {
    background-color: #222;
  }